<div class="row">
  <aside class="col-md-5">
    <section class="user_info">
      <h1 class="clearfix">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <hr class="clearfix">
      <div class="">
        <div class="row">
          <div class="row">
            <div class="col-sm-4 user-label">
            Screen Name
            </div>
          <div class="col-sm-8">
            <%= @user.screen_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 user-label">
            Email
          </div>
          <div class="col-sm-8">
            <%= @user.email %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 user-label">
            Region
          </div>
          <div class="col-sm-8">
            <%= @user.region %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 user-label">
            Phone
          </div>
          <div class="col-sm-8">
            <%= @user.phone_number %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12"><%= link_to "Followings (#{@user.following_users.count})", followings_user_path(@user) %></div>
        </div>
        <div class="row">
          <div class="col-sm-12"><%= link_to "Followers (#{@user.follower_users.count})", followers_user_path(@user) %></div>
        </div>
      </div>
    </section>
  </aside>
  <div class="col-md-7">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>
