<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(:compose_new_post) %>
  </div>
  <!--- :content is the actual form - there's only one field --->
  <%= f.submit t(:post), class: "btn btn-primary" %>
  <!--- Trying new form here --->
<%= form_for(@store) do |f| %>
  <!--- PUT NEW ENTRY FIELDS HERE!!! --->


<% end %>